@charset "utf-8";
@import "settings";
@import "navBtn";


* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem; 
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", 'メイリオ', 'Meiryo','ＭＳ ゴシック', sans-serif;
    color: $text-color;
    line-height: 1.6;
    position: unset;
    @media screen and(max-width: 320px) {
        font-size: 1.4rem;
    }
}
h1 {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.34;
    @include sp() {
        font-size: 3rem;
    }
    @media screen and(max-width: 320px) {
        font-size: 2.6rem;
    }
}
h2 {
    line-height: 1.34;
}
img {
    vertical-align: top;
    width: auto;
    max-width: 100%;
}

.clearfix {
    *zoom: 1;
        &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* ==========================
  共通
============================= */
.inline_block {
    display : inline-block;
}
.pc {
    @include sp {
        display: none;
    }
}
.sp {
    display: none;
    @include sp {
        display : block;
    }
}
.bg-none {
    background: none !important;
}

/* ==========================
  loading
============================= */
#is-loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    z-index: 200;
    /* display: none; */
    // opacity: 0.3;
   }
  #loading {
    display: none;
    position : relative;
    top : 40%;
    text-align: center;
    color: #ccc;
    z-index: 201;
  }
    // .loading__wrapper { display : none; }

/* ==========================
  電話番号スマホのみ対応
============================= */
@media(min-width: 768px){
    a[href^="tel:"]{
        pointer-events: none;
    }
}

/* ==========================
  フェードイン
============================= */
.fadeIn {
    opacity : 0;
    transform : translate(0,100px);
    transition: 1s;
    &.top-down {
        transform : translate(0,-150px);
    }
  }
  .fadeIn-child {
    opacity : 0;
    transform : translate(0,100px);
    &.top-down {
        transform : translate(0,-150px);
        transition-delay: 1s;
    }
  }

/* ==========================
  ナビゲーション
============================= */
.nav {
    width : 100%;
    max-width : 780px;
    height: 100%;
    
    background : #0068b7;
    text-align : center;
    position : fixed;
    right : 0;
    top:0;
    z-index:12;
    transform: translateY(-100%);
    transition: all .5s;
    &.active {
        transform: translateY(0);
    }
    nav{
        padding : 15.27vh 0 0;
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        ul{
            max-width : 450px;
            margin : 58px auto;
            text-align: left;
            @include sp {
                margin : 30px 3%;
            }
            li {
                position : relative;
                border-bottom: 1px dotted #fff;
                padding : 0 0 0 10px;
                a {
                    display : block;
                    color : #fff;
                    font-size: 2rem;
                    line-height:2.4;
                    @include sp {
                        font-size: 3.86vw;
                        line-height:2.4;
                    }
                    &::after {
                        content :'';
                        display : block;
                        width : 11px;
                        height : 17px;
                        position :absolute;
                        right: 0;
                        top:0;
                        bottom : 0;
                        margin : auto;
                        background : url('../images/arrow-right.png') no-repeat;
                        background-size : contain;
                        background-position: center center;
                    }
                    &:hover {
                        &::after {
                            animation: arrowanm 3s ease-out;
                        }
                    }
                }
            }
        }
    }    
    #menu-logo {
        max-width : 274px;
        width : 274px;
        margin : 0 auto;
    }
}

@keyframes arrowanm {
    0% { transform: translateX(-10px); }
    5% { transform: translateX(0); }
    10% { transform: translateX(-6px); }
    15% { transform: translateX(0); }
    20% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}

.nav-btn {
    width : 125px;
    height : 125px;
    background : #0068b7;
    position: fixed;
    top:0;
    right : 0;
    z-index:10;
    padding : 52px 36px;
    z-index: 15;
    cursor: pointer;
    @include pc {
        width: 12.2vw;
        height: 12.2vw;
        padding : 5.078vw 3.5vw;
    }
    @include sp {
        width: 50px;
        height: 50px;
        padding : 20px 14px;
    }
    span {
        display : block;
        position :relative;
        width : 55px;
        height: 0;
        border-bottom : 4px solid #fff;
        margin-bottom: 12px;
        transition: all 0.2s;
        &:last-of-type {
            margin-bottom : 0;
        }
        @include pc {
            margin-bottom: 1.17vw;
            width: 5.37vw;
            border-bottom : 3px solid #fff;
        }
        @include sp {
            margin-bottom: 6px;
            width: 22px;
            border-bottom : 2px solid #fff;
        }
    }
    &.active{
        background : #fff;
        span {
            border-bottom : 3px solid #0068b7;
        }
        span:nth-child(1){
            transform: rotate(45deg);
            top:10px;
            @include pc {
                top : 0.9765vw;
            }
            @include sp {
                top : 8px;
            }
        }
        span:nth-child(2){
            transform: rotate(-45deg);
            top: -6px;
            @include pc {
                top : -0.5859vw;
            }
            @include sp {
                top : 0px;
            }
        }
    }
}

/* ------------------------------------
  ポップアップ
-------------------------------------- */
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    &.test {
        display :block;
    }
    &-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
.pop-content{
    background: #fff;
    padding: 30px 40px;
    width: 80%;
    max-width: 654px;
    height: 50vh;
    max-height: 332px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 316px;
    @include pc() {
        margin-left: 0;
    }
    @include tab{
        width : 70%;
        padding: 25px 30px;
    }
    @include sp{
        width : 90%;
        padding: 20px 20px;
        font-size: 1.4rem;
    }
    .comment {
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;
        color: $primary-color;
    } 
    .close {
        display: inline-block;
        margin : 25px auto 0;
        padding : 10px 25px;
        background : #0068b7;
        border : 1px solid #0068b7;
        color : #fff;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            background : #fff;
            color : #0068b7;
        }
    }
}

#particles-js{
    height: 100%;
    width: 100%;
    background: url('../images/back-platform.jpg') no-repeat;
    background-size: cover;
    position : absolute;
    top:0;
    left:0;
}
canvas {
    display: block;
}

/* ------------------------------------
  YouTube GoogleMap
-------------------------------------- */
.video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

/* ==========================
  btnTop
============================= */
#btnTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 0;
    z-index: 10;
    opacity: 0.8;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: #fff;
    background-image: url("../images/btn-top.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center center;
    transition: all ease 0.3s;
    @include sp{
        right: 15px;
        bottom: 15px;
        width: 28px;
        height: 28px;
        background-size: 20px;
    }
    &:hover{
        opacity: 1;
    }
}